<%layout("../layouts/boilerplate.ejs")%>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h3>Create New Listing</h3>
      <form
        action="/listing/createNew"
        method="post"
        novalidate
        class="needs-validation"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title: </label>
          <input
            type="text"
            class="form-control"
            name="listing[title]"
            placeholder="title"
            required
          />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description:</label>
          <textarea
            name="listing[description]"
            class="form-control"
            placeholder="description"
            required
          >
          </textarea>
        </div>

        <div class="mb-3">
          <label for="filename" class="form-label">Filename: </label>
          <input
            type="text"
            name="listing[image][filename]"
            class="form-control"
            placeholder="filename"
            required
          />
        </div>

        <div class="mb-3">
          <label for="url" class="form-label">URL: </label>
          <input
            type="text"
            name="listing[image][url]"
            class="form-control"
            placeholder="url"
            required
          />
        </div>

        <div class="mb-3">
          <label for="Price" class="form-label">Price: </label>
          <input
            type="number"
            name="listing[price]"
            class="form-control"
            placeholder="Price"
            min="0"
            required
          />
        </div>
        <div class="row">
          <div class="mb-3 col-md-6">
            <label for="Location" class="form-label">Location: </label>
            <input
              type="text"
              name="listing[location]"
              class="form-control"
              placeholder="Location"
              required
            />
          </div>

          <div class="mb-3 col-md-6">
            <label for="Country" class="form-label">Country: </label>
            <input
              type="text"
              name="listing[country]"
              class="form-control"
              placeholder="Country"
              required
            />
          </div>
        </div>

        <button class="btn btn-success">Add</button>
      </form>
    </div>
  </div>
</body>
