<footer>
    <div class="f-info">
        <div class="f-infoSocial">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-brandName">AirBnB</div>
        <div class="f-links">
            <a href="/">Terms & Cond.</a>
            <a href="/">About</a>
        </div>
    </div>
</footer>