<ul class="nav justify-content-start bg-body-dark" >
  <li class="nav-item compass">
    <a class="nav-link" href="/listings" style="color: red;"><i class="bi bi-compass"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/listings/createNew">Create New</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
</ul>